<form method="post" action="{{ path('app_machine_delete', {'id': gamme.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette machine?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gamme.id) }}">
    <button class="btn btn-danger">
        <i class="bi bi-trash"></i>
    </button>
</form>
