<form method="post" action="{{ path('app_poste_delete', {'id': poste.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce poste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste.id) }}">
    <button class="btn btn-danger">
        <i class="bi bi-trash"></i>
    </button>
</form>
