.body{
    margin-top:16vh;
    color: black
}
body {
    background-color: #f2f2f2; /* Fond d'écran gris */
    font-family: Arial, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container, .form-container {
    flex: 1;
    margin: 10px;
}
.form-container {
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: black;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Ligne de fond gris clair */
}
tr:nth-child(odd) {
    background-color: #fff; /* Ligne de fond blanc */
}

.custom-form-control {
    border-radius: 15px; /* Contours arrondis */
    border: 1px solid black; /* Contours noirs par défaut */
    color: black; /* Texte noir */
    background-color: white; /* Fond blanc pour contraste */
}

.custom-form-control:focus {
    border-color: rgb(20, 19, 19); /* Couleur primaire de Bootstrap */
    border-width: 2px; /* Bordure de 2px */
    box-shadow: 0 0 0px Black; /* Ombre pour l'effet focus */
    outline: none; /* Supprimer l'effet de focus par défaut */
}

#entityGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    justify-content: start; /* Aligne les éléments au début de la grille */
}

.grid-item {
    background-color: #f8f9fa;
    padding: 16px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    width: 200px;  /* Largeur fixe */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; /* Inclure la bordure et le padding dans la taille totale */
}

.entity-content {
    margin-bottom: 8px;
    flex-grow: 1; /* S'étire pour remplir l'espace disponible */
    overflow: hidden; /* Cache le débordement */
    white-space: nowrap; /* Empêche les retours à la ligne */
    text-overflow: ellipsis; /* Ajoute des ellipses pour le contenu trop long */
    position: relative; /* Pour le tooltip */
}

.entity-actions {
    display: flex;
    justify-content: space-between;
}

.entity-actions .btn {
    flex: 1; /* Chaque bouton prend une part égale de l'espace disponible */
    padding: 4px 8px; /* Ajuste le padding pour des boutons plus petits */
    font-size: 0.875rem; /* Taille de police plus petite pour les boutons */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Début de l'animation en bas */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Fin de l'animation à la position d'origine */
    }
}

.fade-in-up {
    opacity: 0; /* Initialement transparent */
    transform: translateY(20px); /* Initialement décalé vers le bas */
    animation: fadeInUp 0.5s forwards; /* Animation de fade-in et de montée */
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item-35 {
    flex: 0 0 35%;
}
.flex-item-60 {
    flex: 0 0 60%;
}

.btn-no-pointer {
    cursor: default;
    pointer-events: none;
}

.vr {
    border-left: 1px solid #000; /* Changez la couleur et l'épaisseur selon vos besoins */
    height: 100%;
}


.orange-bg {        
    background-color: #FFD580; /* Light orange background */
}

.warning-text {
    color: #FFD580; /* Light orange text */
}
