{% extends 'base.html.twig' %}

{% block title %}Menu principal{% endblock %}

{% block body %}
    <div class="body">
        <div class="row m-1">
            <h2 class=" p-2 border border-primary border-2 inline-block w-auto"> Menu principal </h2>
        </div>
        <div class="row menu-item">

        </div>
    </div>
{% endblock %}